<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <exclude name="IT"></exclude>
		  </run>
	  </groups>
    <classes>
      <class name="login.DWS_jwel_wishlist_Remove_09_Test"/>
      <class name="login.DWS_Go_Computers_addtwoproducts_05_Test"/>
      <class name="login.DWS_jewel_to_add_wishlist_08_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
